<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
    <div>
        <div class="title">
           Corporate Employee Attrition Analytics
            <input type="button" value="Logout">
        </div><br><br>
        <div class="button">
            <button class="button1" id="triggerv"><span>View Items</span> </button>
            <div class="modalv">
                <div class="modal-contentv">
                    <span class="close-buttonv">&times;</span>
                    <h1 class="heading">View Items</h1>
                </div>
            </div>
        </div>
        <div class="sec_button">
            <button class="button1" id="triggera" ><span>Add Item</span></button>
            <div class="modala">
                <div class="modal-contenta">
                    <span class="close-buttona">&times;</span>
                    <h1 class="heading">Add Item</h1>
                    <form method="post" action="/dashboardAdd">
                        <div>
                            <input name="username" type="text" placeholder="username" required/>
                            <input name="empId" type="text" placeholder="EmployeeID" required>
                            <input name="envSatisfaction" type="number" placeholder="environmental Satisfaction" required />
                            <input name="wlbalance" type="number" placeholder="Work Life Balance" required />
                            <input name="age" type="number" placeholder="Age" required />
                            <input name="attrition" type="text" placeholder="attirion" required />
                            <input name="businessTravel" type="text" placeholder="Businees Travel" required/>
                            <input name="dept" type="text" placeholder="Department" required/>
                            <input name="distancefromhone" placeholder="Distance from " type="number" required/>
                            <input name="education" placeholder="Education" type="number" required/>
                            <input name="educationField" placeholder="Education Field" type="text" required/>
                            <input name="gender" placeholder="Gender" type="text" required/>
                            <input name="jobLevel" placeholder="Job Level" type="text" required/>
                            <input name="status" placeholder="Marital Status" type="text" required />
                            <input name="income" placeholder="Monthly Income" type="number" required/>
                        </div>
                        
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="third_button">
            <button class="button1" id="triggeru">Add Dataset</button>
            <div class="modalu">
                <div class="modal-contentu">
                    <span class="close-buttonu">&times;</span>
                    <h1 class="heading">Dataset</h1>
                    <form method="post" action="/dashboard">
                        <div>
                            <input name="username" type="text" placeholder="username" required>
                            <input name="file" id="fileSelect" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        </div>
                        <!-- <div>
                            <input type="number" placeholder="Quantity to be updated" required>
                        </div> -->
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="fourth_button">
            <button class="button1" id="triggerd">Delete Item</button>
            <div class="modald">
                <div class="modal-contentd">
                    <span class="close-buttond">&times;</span>
                    <h1 class="heading">Delete Item</h1>
                    <form method="post">
                        <div>
                            <input type="text" placeholder="Item name" required>
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
<script src="../static/js/dashboard.js"></script>
